/*
Reglas
Selectores
Declaraciones
Propiedades
Valores

gris oscuro : #1d252c;
gris claro : #626262;
background gris: #1b2127;
color celeste: #026fff

*/

:root {
    /*
    Colores de diseño
     */
    --color-gris-oscuro: #1d252c;
    --color-gris-claro: rgba(0, 0, 0, 0.8);
    --color-gris-shadow: rgba(22, 29, 35, 0.78);
    --color-gris-background: #1d252c;
    --color-gris-background-claro: rgba(184, 184, 184, 0.41);
    --color-blanco: #fff;
    --color-gris: #727272;
    --color-azul-rey: #026fff;
    --color-celeste: #f4fbff;

    /*
        Sombras de cajas
     */
    --header-shadow: inset 0 9px 8px 2px var(--color-gris-shadow);
    --project-shadow: 10px -12px 193px -93px rgba(22, 29, 35, 0.56);;

}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?k6on5z');
    src: url('../fonts/icomoon.eot?k6on5z#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?k6on5z') format('truetype'),
    url('../fonts/icomoon.woff?k6on5z') format('woff'),
    url('../fonts/icomoon.svg?k6on5z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon', serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-facebook2:before {
    content: "\ea91";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-whatsapp:before {
    content: "\ea93";
}

.icon-twitter:before {
    content: "\ea96";
}

.icon-youtube:before {
    content: "\ea9d";
}

.icon-github:before {
    content: "\eab0";
}


@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Source+Sans+Pro:400,700,700i,900&display=swap');

/*Selector de etiqueta header - section - article - nav etc*/
* {
    margin: 0;
    padding: 0;
    /*
    box-sizing: border-box;
    */
}

body {
    background-color: var(--color-gris-background-claro);
    font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h3, h4, h5, h6 {
    font-family: "Fjalla One", sans-serif;
}


h1 {
    font-size: 40px;
    line-height: 1.5em;
    font-weight: normal;
    letter-spacing: -.2px;
    color: var(--color-blanco);
    margin: 0;
    align-items: center;
    /*text-transform: uppercase;*/
    /*text-decoration: underline;*/
    /*    font-style: italic;*/
}

h1 strong {
    color: var(--color-azul-rey);
}


/*Selector descendente */
/*body header nav ul li a {
    background-color: rebeccapurple;
}
*/

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    /*
    width: 100%;
    opción para ocupar ancho disponible con max-width
    */
    flex: 1; /*Ocupa el  100% disponible*/
    margin: 0 auto;
    padding: 0 1em;
    justify-content: inherit;
    display: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.header {
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.header ol, ul {
    display: flex;
    height: inherit;
}

.header ol li, ul li {
    height: inherit;
}

.header a {
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.header a {
    color: var(--color-blanco);
    text-decoration: none;
}

.menu {
    height: inherit;
}

.logo {
}

.hero {
    height: 300px;
    /*background-image: url("../images/hero.jpg");*/
    background-color: var(--color-gris-oscuro);
    /* background-repeat: no-repeat;*/
    /*background-size: 500px 300px;*/
    /*background-position: right;*/
    /*background-position-x: right;*/
    -webkit-box-shadow: var(--header-shadow);
    -moz-box-shadow: var(--header-shadow);
    box-shadow: var(--header-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero img {
    object-fit: cover;
    --webkit-clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(21% 0, 100% 0%, 100% 100%, 0% 100%); /** dar corte a imagen css**/
}

.hero img {
    object-fit: cover;

}


.portfolio {
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

.contact {
    background-color: var(--color-azul-rey);
    color: var(--color-blanco);
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.form-email input[type="text"] {
    border-color: var(--color-gris);
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    width: 260px;
    background-image: url("../images/envelope.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email input[type="submit"] {
    display: block;
    background: transparent;
    color: var(--color-blanco);
    border: 1px solid;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.form-email h3 {
    font-family: "Source Sans Pro", sans-serif;
}

.social-link {
    display: inline-block;
    font-size: 50px;
    color: var(--color-blanco);
    text-decoration: none;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url("../images/twitter.svg");
}

.social-link.facebook {
    background-image: url("../images/facebook.svg");
}

.social-link.facebook {
    background-image: url("../images/facebook.svg");
}

.social-link.github {
    background-image: url("../images/github.svg");
}

.social-link.instagram {
    background-image: url("../images/instagram.svg");
}

.project {
    border-radius: 5px;
    margin: 10px 10px 20px 10px;
    max-width: 100%;
    background-color: var(--color-blanco);
    box-shadow: var(--project-shadow);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.project-details {
    width: 50%;
}

.project-title {
}

.project-course {
}

.project-date {
}

.project-url {
}

.project-description {
}

.project-image-wrapper {
    width: 50%;
}

.project-image {
    width: 100%;
    height: auto;
}

.event-list-title, .portfolio h2 {
    margin: 30px 30px;
    color: var(--color-azul-rey);
}

.event {
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-celeste);
}

.event-image-wrapper {
    width: 100%;
    object-fit: cover;

}

.event-image {
    width: inherit;
    height: 250px;
    object-fit: cover;
}

.event-detail {
    margin: -40px 40px 20px 40px;
    border-radius: 3px;
    position: relative;
    background-color: var(--color-blanco);
    padding: 20px;
    text-align: center;
}

.event-description {
    text-align: left;
}

.event-url {
    color: var(--color-azul-rey);
    border: 1px solid;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}

.footer {
    align-items: center;
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.footer img {
    vertical-align: middle;
}

.footer a {
    color: var(--color-blanco);
}

.html-video {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/*
 Regla de 3 para poner videos responsive:
 Relación 16:9 --> altura x 100 / ancho = %
 Relación vertical-->  ancho x 100 / altura = %
*/
.youtube-video {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexible-video {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    width: 100%;
    background: #026fff;
}

.burguer-button {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center; /*Otra técnica de centrado de icono*/
/*    display: flex; Alineado con flexbox
    align-items: center;
    justify-content: center;*/
    color: var(--color-blanco);
    background-color: var(--color-gris-claro);
    position: fixed;
    z-index: 10;
    left: 5px;
    top: 5px;
}


/* Responsive Rules =========== */

/* Segunda forma de aplicar media queries */

/** Si se va a realizar un diseño desktop forst se debne empezar por el media querie más grande**/
/**
    Las medidas standar para breakpoints son: 1024px - 768px - 480px - 320px
 */
@media screen and (max-width: 1024px) {

    .hero {
        height: auto;
        overflow: hidden;
        position: relative;
        padding: 2em;
    }

    .hero h1 {
        font-size: 2em;
        background-size: contain;
        z-index: 3;
    }

    .overlay {
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        /* Otra forma de poner background con transparencia
        background: rgba(0, 0, 0, 0.5); */
        background-color: #333333;
        opacity: 0.5;
        width: 100%;
    }

    .hero img {
        width: 100%;
        top: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        clip-path: initial;
    }

}

@media screen and (max-width: 767px) {
    /*    body {
            border: 10px solid green;
        }*/
    .burguer-button {
        display: block;
    }
    .header {
        display: block;
        height: auto;
    }

    .header ol, ul {
        display: initial; /*Deja el elemento por defecto en este caso : inline*/
    }

    .header ol li, ul li {
        height: 50px;
    }

    .header a {
        justify-content: center;
    }

    .header .logo {
        display: flex;
        justify-content: center;
    }

    .project-image {
        max-width: 100%;
    }

    .project {
        display: block;
    }

    .project-details {
        width: auto;
        /*
        Se pone para heredar los elementos siguientes
        con em, se ouede modificar en el media querie
        de las pantallas más pequeñas
        font-size: 16px;
        */
    }

    .project-course, .project-date, .project-url {
        margin: .3em 0;
    }

    .project-title {
        font-size: 1em;
        margin-bottom: .3em;
    }

    .project-url {
        font-size: 1em;
    }

    .project-course {
        font-size: .7em;
    }

    .project-date {
        font-size: 1em;
    }

    .project-description {
        font-size: .8em;
    }

    .project-image-wrapper {
        width: auto;
    }

    .event {
        width: auto;
        flex-shrink: initial;
    }

    .event-detail {
        /* 1em = 16px */
        margin: -2em .5em .5em;
        padding: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .project-details {
        font-size: 12px;
    }

    .contact {
        height: auto;
        padding: 1.5em 0;
        justify-content: center;
        justify-items: center;
    }

    .contact .form-email {
        display: inherit;
        flex-direction: column;
    }

    .contact .form-email input {
        align-self: center;
    }

    .contact .form-email {
        margin: 1em auto;
    }

    .footer .container {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 2em;
    }
}

@media screen and (max-width: 320px) {

}

